<form [formGroup]="addyyForm" (ngSubmit)="onFormSubmit()">
    <div class="row">
        <div class="offset-2 col-8">
            <div class="row">
                <div class="col-9">
                    <input type="text" formControlName="rawUrlInput" class="form-control rawUrlInput"
                             placeholder="Enter your long url here">
                </div>
                <div class="col-3">
                    <input type="submit" [disabled]="addyyForm.invalid" value="Make Addyy Url !" class="btn btn-dark">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="offset-2 col-8">            
                <div class="row">
                    <div class="col-md-6">
                        <p class="addyy-url-area">{{addytestUrl}}</p>
                         <div class="row">
                            <div class="col-md-2" (click)="onNavigateUrl()">
                                <i class="fa fa-share-square-o fa-lg icon"
                                aria-hidden="true" ngxTippy data-tippy-content="Visit Url"></i>
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-clone fa-lg icon"
                                (click)="copyMessage(addytestUrl)"
                                aria-hidden="true" ngxTippy data-tippy-content="Copy to clipboard"></i>
                            </div>
                            <div class="col-md-2">
                                <a [href]="getMailString()" target="_top">
                                <i class="fa fa-envelope fa-lg icon dark"
                                aria-hidden="true" ngxTippy data-tippy-content="Share on Email"></i>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-qrcode fa-lg icon"
                                (click)="saveAsImage(qrCode)"
                                aria-hidden="true" ngxTippy data-tippy-content="Download QR Code"></i>
                            </div>
                            <div class="col-md-2">
                                <a href="https://api.whatsapp.com/send?&text=urlencodedtext">
                                    <i class="fa fa-whatsapp fa-lg icon dark" aria-hidden="true" ngxTippy
                                        data-tippy-content="Share on WhatsApp"></i>
                                </a>
                            </div>
                         </div>
                    </div>
                    <div class="col-md-6">
                        <qrcode #qrCode id="addyy-qr-code" [qrdata]="addytestUrl" [width]="156" 
                        [errorCorrectionLevel]="'M'"></qrcode>
                    </div>
                </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <input type="file" style="display: inline-block;" 
            (change)="onFileChange($event)" placeholder="Upload file" accept=".xlsx">
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" (click)="submitExcelData()">Create Short Urls</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <td>
                       SrNo # 
                    </td>
                    <td>
                        Your Url
                    </td>
                    <td>
                        Addy Url
                    </td>
                    <td>
                        QR Code
                    </td>
                </tr>
                <tr *ngFor="let url of responseUrl; let i = index">
                    <td>
                        {{i+1}}
                    </td>
                    <td>
                        {{url.rawUrl}}
                    </td>
                    <td>
                        {{url.addyUrl}}
                    </td>
                    <td>
                        <qrcode [qrdata]="url.addyUrl" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>