
.icon-wrapper {
    padding: 2px;
}
.icon {
    cursor: pointer;
    font-size: inherit;
    border: 2px solid black;
    padding: 7px;
    border-radius: 7px;
    background-color: #e0e1e3;
}

.pointer {
    cursor: pointer;
}

.dark {
    color: black;
}

@media only screen and (max-width: 360px) {
    .qrCode {
        display: none;
    }
    .icon {
        font-size: medium;
        padding: 5px;
    }
    .icon-wrapper {
        padding: 1px;
    }
    
}
@media only screen and (max-width: 540px) {
    .icon {
        font-size: medium;
        padding: 5px;
    }
    .icon-wrapper {
        padding: 1px;
    }
}



