.no-data-found {
    font-size: x-large;
}

.history-item {
    padding: 2px;
    background: linear-gradient(90deg, rgb(216 219 223) 18%, rgba(255,255,255,1) 98%);
    border-radius: 30px;
    margin: 5px;
    text-align: left !important;
}

.history-item .addy-url{
    font-size: initial;
    font-style: oblique;
    font-weight: 400;
}

.history-item .raw-url {
    font-size: small;
}