<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex align-items-center justify-content-center">
                <img src="../../assets/addyy-logo.png" width="210" height="70" class="addyy_logo">
            </div>
        </div>        
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 main-content">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row footer">
        <div class="col-md-12 col-xs-12 text-center">
            <div class="footer-item">
                Developed with ❤ by Rohit 
                <a href="https://www.linkedin.com/in/rohit-singh19/" target="_blank"><i class="fa fa-linkedin-square icon" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/rohit_chiki/" target="_blank"><i class="fa fa-instagram icon" aria-hidden="true"></i></a>
                <a href="https://github.com/RohitSingh19" target="_blank"><i class="fa fa-github-square icon" aria-hidden="true"></i></a>
                <a href="https://twitter.com/singh_rohit09" target="_blank"><i class="fa fa-twitter-square icon" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>