.addyy_logo {
    padding: 10px;
    margin-top: 20px;
}

 
  .main-layout {
    display: flex;
    flex-direction: row;
  }
  
  .main-content {
    min-height: 525px;
  }

  
  .footer {
    color: black;
    font-size: larger;
    font-weight: bolder;
  }

  .footer-item .icon {
    margin-left:4px ;
    cursor: pointer;
    color: #343a40;
  }

  .footer-item .icon :hover {
    color: black;
  }