<div class="container-fluid">
    <!-- <div>
        <button (click)="expanded = !expanded">Click me</button>
            <aside class="sidebar" *ngIf="expanded" @slidein>
              <ul>
                <li>Menu 1</li>
                <li>Menu 2</li>
                <li>Menu 3</li>
                <li>Menu 4</li>
              </ul>
            </aside>
    </div> -->
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex align-items-center justify-content-center">
                <img src="../../assets/addyy-logo.png" width="210" height="70" class="addyy_logo">
            </div>
        </div>        
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-history></app-history>
        </div>
    </div>
</div>